.players{
	width: 290px;
    display: flex;
	align-items: center;
}

.players__table{
	width: 100%;
	border-spacing: 5px 20px;
}

.players__table td{
	text-align: center;
}

@media screen and (max-width: 450px){
	.players {
	    width: 70%;
	}
}