.add__form__button{
    height: 35px;
    margin-top: 15px;
}

.add{
	width: 65%;
}

.add__form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
